@charset "UTF-8";
/**
 * reset
 */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.svg-icon:focus {
  outline: none;
}

ul, li {
  list-style-type: none;
}

input {
  outline: none;
  -webkit-apperance: none;
}

/**
 * 浮动 && 清楚浮动
 */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.float-inherit {
  float: inherit;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/**
 * 对齐方式
 */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-list-item {
  display: list-item;
}

.display-table {
  display: table;
}

.display-inline-table {
  display: inline-table;
}

/**
 * 对齐方式
 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-inherit {
  text-align: inherit;
}

/**
 * 边距
 * 定义了一些常用的内边距和外边距
 */
.m-2 {
  margin: 2px;
}

.m-t2 {
  margin-top: 2px;
}

.m-b2 {
  margin-bottom: 2px;
}

.m-l2 {
  margin-left: 2px;
}

.m-r2 {
  margin-right: 2px;
}

.m-lr2 {
  margin-left: 2px;
  margin-right: 2px;
}

.m-tb2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.p-2 {
  padding: 2px;
}

.p-t2 {
  padding-top: 2px;
}

.p-b2 {
  padding-bottom: 2px;
}

.p-l2 {
  padding-left: 2px;
}

.p-r2 {
  padding-right: 2px;
}

.p-lr2 {
  padding-left: 2px;
  padding-right: 2px;
}

.p-tb2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.m-4 {
  margin: 4px;
}

.m-t4 {
  margin-top: 4px;
}

.m-b4 {
  margin-bottom: 4px;
}

.m-l4 {
  margin-left: 4px;
}

.m-r4 {
  margin-right: 4px;
}

.m-lr4 {
  margin-left: 4px;
  margin-right: 4px;
}

.m-tb4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.p-4 {
  padding: 4px;
}

.p-t4 {
  padding-top: 4px;
}

.p-b4 {
  padding-bottom: 4px;
}

.p-l4 {
  padding-left: 4px;
}

.p-r4 {
  padding-right: 4px;
}

.p-lr4 {
  padding-left: 4px;
  padding-right: 4px;
}

.p-tb4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.m-6 {
  margin: 6px;
}

.m-t6 {
  margin-top: 6px;
}

.m-b6 {
  margin-bottom: 6px;
}

.m-l6 {
  margin-left: 6px;
}

.m-r6 {
  margin-right: 6px;
}

.m-lr6 {
  margin-left: 6px;
  margin-right: 6px;
}

.m-tb6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.p-6 {
  padding: 6px;
}

.p-t6 {
  padding-top: 6px;
}

.p-b6 {
  padding-bottom: 6px;
}

.p-l6 {
  padding-left: 6px;
}

.p-r6 {
  padding-right: 6px;
}

.p-lr6 {
  padding-left: 6px;
  padding-right: 6px;
}

.p-tb6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.m-8 {
  margin: 8px;
}

.m-t8 {
  margin-top: 8px;
}

.m-b8 {
  margin-bottom: 8px;
}

.m-l8 {
  margin-left: 8px;
}

.m-r8 {
  margin-right: 8px;
}

.m-lr8 {
  margin-left: 8px;
  margin-right: 8px;
}

.m-tb8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p-8 {
  padding: 8px;
}

.p-t8 {
  padding-top: 8px;
}

.p-b8 {
  padding-bottom: 8px;
}

.p-l8 {
  padding-left: 8px;
}

.p-r8 {
  padding-right: 8px;
}

.p-lr8 {
  padding-left: 8px;
  padding-right: 8px;
}

.p-tb8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-10 {
  margin: 10px;
}

.m-t10 {
  margin-top: 10px;
}

.m-b10 {
  margin-bottom: 10px;
}

.m-l10 {
  margin-left: 10px;
}

.m-r10 {
  margin-right: 10px;
}

.m-lr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-tb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.p-t10 {
  padding-top: 10px;
}

.p-b10 {
  padding-bottom: 10px;
}

.p-l10 {
  padding-left: 10px;
}

.p-r10 {
  padding-right: 10px;
}

.p-lr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-tb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-12 {
  margin: 12px;
}

.m-t12 {
  margin-top: 12px;
}

.m-b12 {
  margin-bottom: 12px;
}

.m-l12 {
  margin-left: 12px;
}

.m-r12 {
  margin-right: 12px;
}

.m-lr12 {
  margin-left: 12px;
  margin-right: 12px;
}

.m-tb12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.p-12 {
  padding: 12px;
}

.p-t12 {
  padding-top: 12px;
}

.p-b12 {
  padding-bottom: 12px;
}

.p-l12 {
  padding-left: 12px;
}

.p-r12 {
  padding-right: 12px;
}

.p-lr12 {
  padding-left: 12px;
  padding-right: 12px;
}

.p-tb12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m-14 {
  margin: 14px;
}

.m-t14 {
  margin-top: 14px;
}

.m-b14 {
  margin-bottom: 14px;
}

.m-l14 {
  margin-left: 14px;
}

.m-r14 {
  margin-right: 14px;
}

.m-lr14 {
  margin-left: 14px;
  margin-right: 14px;
}

.m-tb14 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.p-14 {
  padding: 14px;
}

.p-t14 {
  padding-top: 14px;
}

.p-b14 {
  padding-bottom: 14px;
}

.p-l14 {
  padding-left: 14px;
}

.p-r14 {
  padding-right: 14px;
}

.p-lr14 {
  padding-left: 14px;
  padding-right: 14px;
}

.p-tb14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.m-16 {
  margin: 16px;
}

.m-t16 {
  margin-top: 16px;
}

.m-b16 {
  margin-bottom: 16px;
}

.m-l16 {
  margin-left: 16px;
}

.m-r16 {
  margin-right: 16px;
}

.m-lr16 {
  margin-left: 16px;
  margin-right: 16px;
}

.m-tb16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p-16 {
  padding: 16px;
}

.p-t16 {
  padding-top: 16px;
}

.p-b16 {
  padding-bottom: 16px;
}

.p-l16 {
  padding-left: 16px;
}

.p-r16 {
  padding-right: 16px;
}

.p-lr16 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-tb16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-18 {
  margin: 18px;
}

.m-t18 {
  margin-top: 18px;
}

.m-b18 {
  margin-bottom: 18px;
}

.m-l18 {
  margin-left: 18px;
}

.m-r18 {
  margin-right: 18px;
}

.m-lr18 {
  margin-left: 18px;
  margin-right: 18px;
}

.m-tb18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.p-18 {
  padding: 18px;
}

.p-t18 {
  padding-top: 18px;
}

.p-b18 {
  padding-bottom: 18px;
}

.p-l18 {
  padding-left: 18px;
}

.p-r18 {
  padding-right: 18px;
}

.p-lr18 {
  padding-left: 18px;
  padding-right: 18px;
}

.p-tb18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.m-20 {
  margin: 20px;
}

.m-t20 {
  margin-top: 20px;
}

.m-b20 {
  margin-bottom: 20px;
}

.m-l20 {
  margin-left: 20px;
}

.m-r20 {
  margin-right: 20px;
}

.m-lr20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-tb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.p-t20 {
  padding-top: 20px;
}

.p-b20 {
  padding-bottom: 20px;
}

.p-l20 {
  padding-left: 20px;
}

.p-r20 {
  padding-right: 20px;
}

.p-lr20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-tb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-5 {
  margin: 5px;
}

.m-t5 {
  margin-top: 5px;
}

.m-b5 {
  margin-bottom: 5px;
}

.m-l5 {
  margin-left: 5px;
}

.m-r5 {
  margin-right: 5px;
}

.m-lr5 {
  margin-left: 5px;
  margin-right: 5px;
}

.m-tb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-5 {
  padding: 5px;
}

.p-t5 {
  padding-top: 5px;
}

.p-b5 {
  padding-bottom: 5px;
}

.p-l5 {
  padding-left: 5px;
}

.p-r5 {
  padding-right: 5px;
}

.p-lr5 {
  padding-left: 5px;
  padding-right: 5px;
}

.p-tb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.m-10 {
  margin: 10px;
}

.m-t10 {
  margin-top: 10px;
}

.m-b10 {
  margin-bottom: 10px;
}

.m-l10 {
  margin-left: 10px;
}

.m-r10 {
  margin-right: 10px;
}

.m-lr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-tb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-10 {
  padding: 10px;
}

.p-t10 {
  padding-top: 10px;
}

.p-b10 {
  padding-bottom: 10px;
}

.p-l10 {
  padding-left: 10px;
}

.p-r10 {
  padding-right: 10px;
}

.p-lr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-tb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.m-15 {
  margin: 15px;
}

.m-t15 {
  margin-top: 15px;
}

.m-b15 {
  margin-bottom: 15px;
}

.m-l15 {
  margin-left: 15px;
}

.m-r15 {
  margin-right: 15px;
}

.m-lr15 {
  margin-left: 15px;
  margin-right: 15px;
}

.m-tb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.p-15 {
  padding: 15px;
}

.p-t15 {
  padding-top: 15px;
}

.p-b15 {
  padding-bottom: 15px;
}

.p-l15 {
  padding-left: 15px;
}

.p-r15 {
  padding-right: 15px;
}

.p-lr15 {
  padding-left: 15px;
  padding-right: 15px;
}

.p-tb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.m-20 {
  margin: 20px;
}

.m-t20 {
  margin-top: 20px;
}

.m-b20 {
  margin-bottom: 20px;
}

.m-l20 {
  margin-left: 20px;
}

.m-r20 {
  margin-right: 20px;
}

.m-lr20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-tb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.p-t20 {
  padding-top: 20px;
}

.p-b20 {
  padding-bottom: 20px;
}

.p-l20 {
  padding-left: 20px;
}

.p-r20 {
  padding-right: 20px;
}

.p-lr20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-tb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-25 {
  margin: 25px;
}

.m-t25 {
  margin-top: 25px;
}

.m-b25 {
  margin-bottom: 25px;
}

.m-l25 {
  margin-left: 25px;
}

.m-r25 {
  margin-right: 25px;
}

.m-lr25 {
  margin-left: 25px;
  margin-right: 25px;
}

.m-tb25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-25 {
  padding: 25px;
}

.p-t25 {
  padding-top: 25px;
}

.p-b25 {
  padding-bottom: 25px;
}

.p-l25 {
  padding-left: 25px;
}

.p-r25 {
  padding-right: 25px;
}

.p-lr25 {
  padding-left: 25px;
  padding-right: 25px;
}

.p-tb25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-30 {
  margin: 30px;
}

.m-t30 {
  margin-top: 30px;
}

.m-b30 {
  margin-bottom: 30px;
}

.m-l30 {
  margin-left: 30px;
}

.m-r30 {
  margin-right: 30px;
}

.m-lr30 {
  margin-left: 30px;
  margin-right: 30px;
}

.m-tb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p-30 {
  padding: 30px;
}

.p-t30 {
  padding-top: 30px;
}

.p-b30 {
  padding-bottom: 30px;
}

.p-l30 {
  padding-left: 30px;
}

.p-r30 {
  padding-right: 30px;
}

.p-lr30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-tb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.m-35 {
  margin: 35px;
}

.m-t35 {
  margin-top: 35px;
}

.m-b35 {
  margin-bottom: 35px;
}

.m-l35 {
  margin-left: 35px;
}

.m-r35 {
  margin-right: 35px;
}

.m-lr35 {
  margin-left: 35px;
  margin-right: 35px;
}

.m-tb35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.p-35 {
  padding: 35px;
}

.p-t35 {
  padding-top: 35px;
}

.p-b35 {
  padding-bottom: 35px;
}

.p-l35 {
  padding-left: 35px;
}

.p-r35 {
  padding-right: 35px;
}

.p-lr35 {
  padding-left: 35px;
  padding-right: 35px;
}

.p-tb35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.m-40 {
  margin: 40px;
}

.m-t40 {
  margin-top: 40px;
}

.m-b40 {
  margin-bottom: 40px;
}

.m-l40 {
  margin-left: 40px;
}

.m-r40 {
  margin-right: 40px;
}

.m-lr40 {
  margin-left: 40px;
  margin-right: 40px;
}

.m-tb40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-40 {
  padding: 40px;
}

.p-t40 {
  padding-top: 40px;
}

.p-b40 {
  padding-bottom: 40px;
}

.p-l40 {
  padding-left: 40px;
}

.p-r40 {
  padding-right: 40px;
}

.p-lr40 {
  padding-left: 40px;
  padding-right: 40px;
}

.p-tb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-45 {
  margin: 45px;
}

.m-t45 {
  margin-top: 45px;
}

.m-b45 {
  margin-bottom: 45px;
}

.m-l45 {
  margin-left: 45px;
}

.m-r45 {
  margin-right: 45px;
}

.m-lr45 {
  margin-left: 45px;
  margin-right: 45px;
}

.m-tb45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.p-45 {
  padding: 45px;
}

.p-t45 {
  padding-top: 45px;
}

.p-b45 {
  padding-bottom: 45px;
}

.p-l45 {
  padding-left: 45px;
}

.p-r45 {
  padding-right: 45px;
}

.p-lr45 {
  padding-left: 45px;
  padding-right: 45px;
}

.p-tb45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.m-50 {
  margin: 50px;
}

.m-t50 {
  margin-top: 50px;
}

.m-b50 {
  margin-bottom: 50px;
}

.m-l50 {
  margin-left: 50px;
}

.m-r50 {
  margin-right: 50px;
}

.m-lr50 {
  margin-left: 50px;
  margin-right: 50px;
}

.m-tb50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-50 {
  padding: 50px;
}

.p-t50 {
  padding-top: 50px;
}

.p-b50 {
  padding-bottom: 50px;
}

.p-l50 {
  padding-left: 50px;
}

.p-r50 {
  padding-right: 50px;
}

.p-lr50 {
  padding-left: 50px;
  padding-right: 50px;
}

.p-tb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m-60 {
  margin: 60px;
}

.m-t60 {
  margin-top: 60px;
}

.m-b60 {
  margin-bottom: 60px;
}

.m-l60 {
  margin-left: 60px;
}

.m-r60 {
  margin-right: 60px;
}

.m-lr60 {
  margin-left: 60px;
  margin-right: 60px;
}

.m-tb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.p-60 {
  padding: 60px;
}

.p-t60 {
  padding-top: 60px;
}

.p-b60 {
  padding-bottom: 60px;
}

.p-l60 {
  padding-left: 60px;
}

.p-r60 {
  padding-right: 60px;
}

.p-lr60 {
  padding-left: 60px;
  padding-right: 60px;
}

.p-tb60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.m-70 {
  margin: 70px;
}

.m-t70 {
  margin-top: 70px;
}

.m-b70 {
  margin-bottom: 70px;
}

.m-l70 {
  margin-left: 70px;
}

.m-r70 {
  margin-right: 70px;
}

.m-lr70 {
  margin-left: 70px;
  margin-right: 70px;
}

.m-tb70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.p-70 {
  padding: 70px;
}

.p-t70 {
  padding-top: 70px;
}

.p-b70 {
  padding-bottom: 70px;
}

.p-l70 {
  padding-left: 70px;
}

.p-r70 {
  padding-right: 70px;
}

.p-lr70 {
  padding-left: 70px;
  padding-right: 70px;
}

.p-tb70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.m-80 {
  margin: 80px;
}

.m-t80 {
  margin-top: 80px;
}

.m-b80 {
  margin-bottom: 80px;
}

.m-l80 {
  margin-left: 80px;
}

.m-r80 {
  margin-right: 80px;
}

.m-lr80 {
  margin-left: 80px;
  margin-right: 80px;
}

.m-tb80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.p-80 {
  padding: 80px;
}

.p-t80 {
  padding-top: 80px;
}

.p-b80 {
  padding-bottom: 80px;
}

.p-l80 {
  padding-left: 80px;
}

.p-r80 {
  padding-right: 80px;
}

.p-lr80 {
  padding-left: 80px;
  padding-right: 80px;
}

.p-tb80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.m-90 {
  margin: 90px;
}

.m-t90 {
  margin-top: 90px;
}

.m-b90 {
  margin-bottom: 90px;
}

.m-l90 {
  margin-left: 90px;
}

.m-r90 {
  margin-right: 90px;
}

.m-lr90 {
  margin-left: 90px;
  margin-right: 90px;
}

.m-tb90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.p-90 {
  padding: 90px;
}

.p-t90 {
  padding-top: 90px;
}

.p-b90 {
  padding-bottom: 90px;
}

.p-l90 {
  padding-left: 90px;
}

.p-r90 {
  padding-right: 90px;
}

.p-lr90 {
  padding-left: 90px;
  padding-right: 90px;
}

.p-tb90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.m-100 {
  margin: 100px;
}

.m-t100 {
  margin-top: 100px;
}

.m-b100 {
  margin-bottom: 100px;
}

.m-l100 {
  margin-left: 100px;
}

.m-r100 {
  margin-right: 100px;
}

.m-lr100 {
  margin-left: 100px;
  margin-right: 100px;
}

.m-tb100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.p-100 {
  padding: 100px;
}

.p-t100 {
  padding-top: 100px;
}

.p-b100 {
  padding-bottom: 100px;
}

.p-l100 {
  padding-left: 100px;
}

.p-r100 {
  padding-right: 100px;
}

.p-lr100 {
  padding-left: 100px;
  padding-right: 100px;
}

.p-tb100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/**
 * Flex 布局
 * 定义了flex布局常用的几种方式
 */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-x-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-x-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-x-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-x-space-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-y-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-y-flex-start {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-y-flex-end {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex-y-space-evenly {
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
}

.flex-y-baseline {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

/**
 * Cursor
 * 定义了鼠标手势
 */
.cursor-default {
  cursor: default;
}

.cursor-auto {
  cursor: auto;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.cursor-e-resize {
  cursor: e-resize;
}

.cursor-ne-resize {
  cursor: ne-resize;
}

.cursor-nw-resize {
  cursor: nw-resize;
}

.cursor-n-resize {
  cursor: n-resize;
}

.cursor-se-resize {
  cursor: se-resize;
}

.cursor-sw-resize {
  cursor: sw-resize;
}

.cursor-s-resize {
  cursor: s-resize;
}

.cursor-w-resize {
  cursor: w-resize;
}

.cursor-text {
  cursor: text;
}

.cursor-wait {
  cursor: wait;
}

.cursor-help {
  cursor: help;
}

/**
 * Font size
 * 定义了一些常用的字体大小
 */
.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-36 {
  font-size: 36px;
}

.font-38 {
  font-size: 38px;
}

.font-40 {
  font-size: 40px;
}

/**
 * 情境颜色
 */
.color-primary {
  color: #337ab7;
}

.bg-primary {
  background-color: #337ab7;
}

.color-success {
  color: #dff0d8;
}

.bg-success {
  background-color: #dff0d8;
}

.color-info {
  color: #d9edf7;
}

.bg-info {
  background-color: #d9edf7;
}

.color-warning {
  color: #fcf8e3;
}

.bg-warning {
  background-color: #fcf8e3;
}

.color-danger {
  color: #f2dede;
}

.bg-danger {
  background-color: #f2dede;
}

.color-ffffff {
  color: #ffffff;
}

.bg-ffffff {
  background-color: #ffffff;
}

.color-000000 {
  color: #000000;
}

.bg-000000 {
  background-color: #000000;
}
